* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

body {
	background-color: #1c1e27;
	color: #fff338;
	font-family: "jay-gothic-urw", sans-serif;
	font-weight: 300;
	font-style: normal;
}

/*-------------- index.html Styling ----------------*/





/*-------------- maps.html Styling ----------------*/




/*-------------- winners.html Styling ----------------*/
