* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

body {
	background-color: #1c1e27;
	color: #fff338;
	font-family: "jay-gothic-urw", sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 2rem;
}

/*-------------- index.html Styling ----------------*/

#homepage body {
	text-align: center;
	margin: auto;
}

#homepage header nav ul li a {
	text-decoration: none;
	color: white;
}
.background-set {
	position: relative;
}
#background {
	width: 100%;
}

#left-sign {
	width: 15%;
	position: absolute;
	top: 27%;
	left: 21%;
}

#right-sign {
	width: 15%;
	position: absolute;
	top: 26%;
	right: 21%;
}


.netflix {
	display: block;
	padding-top: 10%;
	padding-bottom: 30%;
	padding-left: 3%;
	width: 100vw;
	margin-left: auto;
	margin-right: auto;
	z-index: 1;
}

/* ------- Positioning sign text --------*/

header nav ul li {
	list-style-type: none;
}


#maps-link {
	position: absolute;
	font-size: 5vw;
	top: 28.5%;
	left: 24.2%;
	transform: rotate(-10deg); /*---- tilts sideways ----*/
	z-index: 101;
	text-shadow: .5px .5px black;
}

#winners-link {
	position: absolute;
	font-size: 3.5vw;
	top: 28.5%;
	right: 24.5%;
	transform: rotate(10deg);
	z-index: 100;
	text-shadow: .5px .5px black;
}

/* -------------------- sign wobble ------------------ */

#right-sign, #left-sign {
	-webkit-animation-name: hvr-wobble-skew;
	animation-name: hvr-wobble-skew;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
	}

	#winners-link:hover, #maps-link:hover, .netflix:hover {
		-webkit-animation-name: hvr-wobble-skew;
		animation-name: hvr-wobble-skew;
		-webkit-animation-duration: 1s;
		animation-duration: 1s;
		-webkit-animation-timing-function: ease-in-out;
		animation-timing-function: ease-in-out;
		-webkit-animation-iteration-count: 1;
		animation-iteration-count: 1;
	}


/*-------------- Sub-Page Header Styling ----------------*/

.subpage-header {
	padding: 3%;
	text-align: center;
}

.subpage-header nav a {
	color: #fff338;
	text-decoration: none;
}

.subpage-header nav a:hover {
	color: white;
}

.subpage-header ul li:hover {
	-webkit-animation-name: hvr-wobble-skew;
	animation-name: hvr-wobble-skew;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}


/*-------------- maps.html Styling ----------------*/

.maps-headline {
	background-image: url("images/arrows.png");
	background-repeat: no-repeat;
	background-position: 40% 40%;
	background-size: contain;
	overflow: hidden;
	padding: 10% 0 10% 0;
	max-width: 900px;
	margin: auto;
}

#map-section {
	text-align: center;
}

#map-section h1 {
	font-size: 5rem;
}

#map-section img:hover {
	box-shadow: 0px 0px 40px red;
}

#mobile-maps h2 {
	margin-top: 10%;
}

#mobile-maps img {
	width: 90%;
}

#desktop-maps {
	display: none;
}

/*-------------- winners.html Styling ----------------*/

#win-title {
	font-size: 5rem;
	padding: 10% 0 10% 0;
	text-align: center;
}

#hide {
	display: none;
}

#winner-section img {
	width: 90vw;
	max-width: 290px;
}


#winner-section h2 {
	color: white;
	font-weight: 300;
	text-align: center;
	position: relative;
	top: 12%;
	z-index: 10;
}

#winner-section img:hover, #winner-section img:focus, #winner-section img:active {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	transition: .3s;
}

#winner-section {
	max-width: 1000px;
	margin: auto;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

#winner-section article {
	padding: 0 2% 0 2%;
}


/*-------------- START 450px MEDIA QUERY ----------------*/

@media (min-width: 450px) {

	.subpage-header nav ul {
		display: flex;
		align-items: center;
		justify-content: center;
		list-style-type: none;
	}

	#homepage footer {
		display: none;
	}

	.netflix {
		width: 80vw;
	}

}
/*-------------- END 450px MEDIA QUERY ----------------*/

/*-------------- START 600px MEDIA QUERY ----------------*/

@media (min-width: 600px) {

 /* --------- index.htm styling ---------*/

 	.netflix {
		padding-bottom: 10%;
	}


	/*-------------- maps.html Styling ----------------*/

	.maps-headline{
		padding: 4% 0 4% 0;
		background-position: 30% 30%;
	}

	#map-section h1 {
		padding: 2% 0 4% 0;
	}

	#mobile-maps {
		display: none;
	}

	#desktop-maps {
		display: block;
	}

	#desktop-maps img {
		width: 80%;
		max-width: 850px;
		margin: auto;
	}

	/*-------------- winners.html Styling ----------------*/

	#win-title{
		padding: 2% 0 4% 0;
	}
}
/*-------------- END 600px MEDIA QUERY ----------------*/

/*------------------ START 800PX MEDIA QUERY ----------*/

@media (min-width: 800px) {

	.netflix {
		width: 50vw;
		padding-bottom: 0%;
		padding-top: 4%;
	}
}

/*------------------ END 800PX MEDIA QUERY ----------*/

/*-------------- START 900px MEDIA QUERY ----------------*/

@media (min-width: 900px) {

	/*-------------- maps.html Styling ----------------*/

	.maps-headline{

		background-position: 30% 10%;
	}

}
/*-------------- END 900px MEDIA QUERY ----------------*/

@media (min-width: 1100px) {

	/*-------------- maps.html Styling ----------------*/

	#map-section h1 {
	    padding: 0 0 4% 0;
	}

	/*-------------- winners.html Styling ----------------*/

	#win-title {
		padding: 0 0 4% 0;
	}

}

/* ------------ Keyframes for nav hover -----------------*/

@-webkit-keyframes hvr-wobble-skew {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}

@keyframes hvr-wobble-skew {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}

/* ------------------
@media (min-width: 800px) {

	.netflix {
		width: 50vw;
		padding-bottom: 5%;
	}
}
